@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.CardFluid {
    background-color: #f1f1f1;
    padding: 4rem 0;
}
.card {
    background-color: #f1f1f1;
    color: #181818;
    border-color: #404040;
  }
.NavBarDiv ul li a:hover {
    color: #FCD535 !important;
}

.NavBarRegister {
    background-color: #FCD535;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
    margin: 0 0.4rem;
}

.NavBarRegister:hover {
    background-color: rgba(252, 212, 54, 0.8);
}


a {
    text-decoration: none;
    color: #000000;
}

.Price {
    padding: 1rem;
}

.Price:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 0.4rem;
    color: #181818;
}

.Price a:hover {
    background-color: rgb(242, 242, 242);
    /* border-radius: 0.4rem; */
    color: #181818;
}

.cardList {
    background-color: #f1f1f1;
    color: #181818;
    border-radius: 0.4rem;
}

.cardList:hover {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cardList a:hover {
    color: #181818;
}

.cardList:hover .MoreDesc {
    display: block;
}

.MoreDesc {
    margin-top: 1rem;
    color: #f5cb22 !important;
    display: none;
}

.cardList span {
    color: #181818;
}

ul {
    list-style: none;
}

ul a {
    color: rgb(175, 175, 175);

}

ul a:hover {
    color: #181818;
}
ul h5{
    color: black;
  }
.Fluid {
    background-color: #f1f1f1;
    margin: 3rem 0;
    padding: 2rem 0;
}

/* .card {
    background-color: #181818;
    border: none;
}
*/
.card h1 {
    /* color: #181818; */
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
} 

.QRCode {
    background-color: #f1f1f1;
    text-align: justify;
}

.QRCode span {
    color: #181818;
    font-size: 12px;
}

.QRCode h6 {
    color: #181818;
}